// 
// pages-rtl.scss
//

// side-menu

.profile-user-dropdown{
    .dropdown-menu{
        right: auto !important;

        @media (max-width: 991.98px) {
            left: 0 !important;
        }
    }

}

// chat-leftsidebar

.search-box{
    .input-group-prepend{
        .btn{
            &.pr-1{
                padding-right: 1rem !important;
            }
        }
    }
}

.chat-user-img {
    .user-status{
        right: auto;
        left: 0;
    }
}

.chat-list{
    li{
        .unread-message{
            right: auto;
            left: 24px;
        }

        &.typing{
            .chat-user-message{
                .dot{
                    margin-left: 0;
                    margin-right: -1px;
                }
            }
        }
    }
}


// User chat

.user-chat{
    @media (max-width: 991.98px) {
        transform: translateX(-100%)
    }
}

.chat-conversation{
    .chat-avatar{
        margin-right: 0;
        margin-left: 16px;
    }

    .conversation-list{
        .ctext-wrap-content{
            border-radius: 8px 8px 0 8px;
            &:before{
                border-left-color: transparent;
                border-right-color: $primary;
                left: auto;
                right: 0;
            }
        }

        .chat-time{
            text-align: left;
        }

        .message-img{
            .message-img-link{
                right: auto;
                left: 10px;
            }
        }
        
    }

    .right{
        .chat-avatar{
            margin-left: 0;
            margin-right: 16px;
        }

        .conversation-list{
            float: left;
            text-align: left;

            .ctext-wrap{
                .ctext-wrap-content{
                    border-radius: 8px 8px 8px 0;
    
                    &:before{
                        border-left-color: $chat-secondary-bg;
                        border-right-color: transparent;
                        right: auto;
                        left: 0;
                    }
                }
            }
        }

        .chat-time{
            text-align: right;
        }
    }

}

.animate-typing {
    .dot{
        margin-right: 0;
        margin-left: -1px;
    }
}



// Settings

.profile-user {
    .profile-photo-edit {
        right: auto;
        left: 0;
    }
}

// User profile details

.user-profile-sidebar {

    @media (min-width: 992px) {
        border-left: 0;
        border-right: 4px solid $border-color;
    }
}


