.App{
	height:100vh;
	overflow-x:hidden;
	overflow-y:auto-scroll;
	width:100vw;
}

#addContact{
	background-image:linear-gradient(180deg,#dddbd1,#d2dbdc);
}

#addContact button{
	display:block;
	margin:auto;
}

#addContactForm{
	left:40vw;
	position:absolute;
	top:45%;
	width:100%;
	z-index:99;
}

.avatar{
	background:darkgrey;
	border-radius:3em;
	height:55px;
	margin-left:1.2em;
}

body {
	font-family: system-ui;
	font-size:large;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    text-rendering:optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
}

#chat{
	animation-name:pulsex;
	animation-direction:alternate;
	animation-duration:1s;
    animation-iteration-count: 20;	
    animation-delay:0.1s;
    animation-timing-function:linear;
	/* background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(145,85,117,1) 26%, rgba(0,212,255,1) 100%);	*/
	/*border:0.2em solid black;*/
	height:81vh;
	overflow-x:hidden;
	overflow-y:auto-scroll;
	width:99%;
}

#chatCol{
	background:lightgrey;
	overflow-x:hidden;
	overflow-y:auto-scroll;
}

#chatHolderDesktop{
	background:lightgrey;
	margin:auto;
	width:100%;
}

#charCount{
	bottom:3em;
	color:purple;
	position:absolute;
}

.connectButtons{
	display:block;
	margin:auto;
	padding-left:2%;
}

.contactCol{
	display:block;
	height:80vh;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	overflow-x:hidden;
	overflow-y:auto-scroll;
	width:100vw;
}

.contactColHolder{
	padding:0px;
	margin:0px;
}

.contactImg{
	background:rgba(100,100,100,0.1);
	border:0px dotted black;
	border-radius:5em;
	margin:0px;
	padding:0px;
	width:64px;
}

.contactInfo{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break:break-all;
}

.contactTime{
	font-size:xx-small;
	float:right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.currentContact{
	display:block;
	margin:auto;
}

.desktopQR{
    display: block;
    height: 40vh;
    margin: auto;
    width: auto;

}

#extras{
	display:none;
	margin-top:2em;
	padding-left:2em;
}

.leftCol{
	padding-left:5px;
	padding-right:0px;
}

#importedAccount p{
	text-align:left;	
	word-break:break-word;
}

.input-group-append Button {
	border-left:2px solid black;
}

#logRow{
	display:block;
	height:10vh;
	margin:1em;
	z-index:9999999;
}

#logs{
	display:block;
	border:1px solid grey;
	font-size:large;
	height:10vh;
	width:100%;
}

.msgContact{
	display:flow-root;
}

.msgContact p{
	background:whitesmoke;
	border:1px solid grey;
	border-radius:1em;
	border-bottom-left-radius:0em;
	color:black;
	float:left;
	margin:0.9em;
	padding:1% 3%;
	word-break:break-all;
}

.msgSelf{
	display:flow-root;
}

.msgSelf p{
	background-color:powderblue;
	border:1px solid white;
	border-radius:1em;
	border-bottom-right-radius:0em;
	color:black;
	float:right;
	margin:0.8em;
	padding:1% 3%;
	word-break:break-all;
}

#newMessage:focus{outline:none!important;}

#progressBar{
	position:absolute;
	width:100%;
	z-index:99;
}

#sendMessage{
	width:100vw;
}

.settingsPanel{
	display:block;
	font-size:small;
	height:84vh;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	overflow-x:hidden;
	overflow-y:auto-scroll;
	width:100vw;
	word-break:break-all;
}

.solanaAccount{
	display:block;
	font-size:small;
	margin:auto;
}

.solanaAccount p{
	text-align:left;	
	word-break:break-word;
}

.topBar{
 background-color: rgba(0,0,0,.2);
 border-bottom:3px solid black;
 margin-left:1px;
 margin-right:1px;
}

.unconfirmed{
	background:lightblue;
}
/*Stage*/
#background{
    background-repeat: no-repeat;
    background:white;
/*
    background-image: url(/background2.png);
*/
    margin: auto;
    position:absolute;
    width: 98vw;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.explosion {
  position: absolute;
  width: 1vw;
  height: 1vh;
  pointer-events: none;
}

iframe{
	border:0em solid black;
	border-width:none;
	display:block;
	margin:auto;
}

#moveTimeout{
	display:block;
	margin:auto;
	width:20%;
}

.particle {
    position: absolute; 
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pop 1s reverse forwards; 
}


@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

#playerOptions{
	background: #3bb5ba;
    position: fixed;
    bottom: 15vh;
    left:40%;
}

#player1Sprite{
	width:22vw;
}

#player1Stats marquee{
    color: black;
    background: red;
    font-size: x-large;
    border-right: none;
    border-left: none;
}
#player1Stats b{
	color:white;
}

#player1Stats{
	width:30%;
	position:fixed;
}

#player2HealthBar{
	transform: rotate(-180deg);
}

#player2Stats{
	position:fixed;
	right:0px;
	text-align:center;
	width:30%;
}
#player2Stats marquee{
    color: black;
    background: red;
    font-size: x-large;
    border-right: none;
    border-left: none;
}
#player2Stats b{
	color:yellow;
	float:right;
}
#player2Stats meter{
	float:right;
}

#player2Stats progress{
	float:right;
	width:100%;
}

#player2Sprite{
	width:20vw;
	transform: rotateY(180deg);
}

.stageHolder{
	background:black;
	height:100%;
	width:100%;
	overflow:hidden;
}

#title{
	color:white;
	text-align:center;
}


/*End Stage*/

::-webkit-scrollbar {
    width: 3px!important;
    height: 3px!important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}

@keyframes pulse {
  from {background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(145,85,117,1) 26%, rgba(0,212,255,1) 100%);}
  to {background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(145,85,117,1) 28%, rgba(0,212,255,1) 100%);}
}
