.App{
	height:100vh;
	overflow-x:hidden;
	overflow-y:hidden;
	width:100vw;
}

body {
	font-family: system-ui;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    text-rendering:optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
}
/*legacy*/

#audioModal{
	text-align:center;
}

.desktopQR{
    display: block;
    height: 35vh;
    margin:auto;
    width: auto;
}
#cancelProtect{
	float:left;
}

#cancelRestore{
	float:left;
}

.contact-avatar{
    background: grey;
    border: 2px solid grey;
    border-radius: 1em;
	display: block;
    margin-right:0.2vw;
    overflow: hidden;
}

.qrCapture{
	left:25vw;
	height:33vh;
	position:absolute;
	top:15vh;
	width:50vw;
}
.qrCapture b{
	display:block;
	margin:auto;
	text-align:center;
}

.restoreWalletCard{
	left:5vw;
	position:fixed;
	text-align:center;
	top:40vh;
	width:90vw;
	word-break:break-word;
	z-index:999;
}

.restoreWalletCard .card{
	padding:0.8em;
}

@media only screen and (max-width: 600px) {
	.restoreWalletCard {
		top:30vh;
	}
}
.secureWalletCard {
	left:5vw;
	position:fixed;
	text-align:center;
	top:40vh;
	width:90vw;
	word-break:break-word;
	z-index:999;
}

.secureWalletCard .card{
	padding:0.8em;
}

@media only screen and (max-width: 600px) {
	.secureWalletCard {
		top:30vh;
	}
}

.secureWalletCard h4{
	text-align:center;
}

#secureWalletPromise{
	text-align:center;
	width:100%;
}
.transactionCard{
	height:55vh;
	overflow-y:scroll;
	text-align:left;
	word-break:break-all;
}

.transactionPopup{
    display: block;
    height: 60vh;
    left: 5vw;
    margin: auto;
    position: absolute;
    top: 10vh;
    width: 90%;
    z-index: 99;
}

.txHistory{
	height:98vh;
	overflow-y:scroll;
	word-break:break-word;
}
/* desktop */
#addContactActions{
	display:block;
}

#addContactButton{
	float:right;
}

#addContact button{
	display:block;
	margin:auto;
}

#addContactForm{
	background:blue;
	height:5vh;
	position:absolute;
	top:35%;
	width:45%;
	z-index:99;
}
#appRow{
	display:flex;
}
.avatar{
	height:55px;
	margin-left:1.2em;
}

#barAccountInfo{
	display:flex;
	margin:auto;
}

.cardAvatar{
	background-size:contain !important;
	display:block !important;
	height:128px;
	margin:auto;
	width:auto;
}

#chainSelectionButtons{
    display: block;
    float: right;
    margin-bottom: auto;
    margin-top: auto;
}

#chat{
	animation-name:pulsex;
	animation-direction:alternate;
	animation-duration:1s;
    animation-iteration-count: 20;	
    animation-delay:0.1s;
    animation-timing-function:linear;
	/*background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(145,85,117,1) 26%, rgba(0,212,255,1) 100%);*/
	/*border:0.2em solid black;*/
	height:79vh;
	overflow-x:hidden;
	overflow-y:auto-scroll;
	width:99%;
}

#chatCol{
	background:lightgrey;
	overflow-x:hidden;
	overflow-y:auto-scroll;
}

#chatHolderDesktop{
	margin:auto;
	width:100%;
}
#charCount{
	color:red;
}

.comrev{
	background:black;
    color: white;
    border: 5px solid palevioletred;
    font-family: system-ui;
    font-size: large;
    overflow: hidden;
    padding:0.5em;
    border-radius: 0.5em;
}

.contactCol{
	height:87vh;
	margin:auto;
	overflow-y:scroll;
}

.contactCol .col-4{
	border:2px solid blue;
}

.contactHolder{
	background:white;
	border-left:3px solid black;
	display:block;
	height:100%;
	margin:auto;
	overflow-y:scroll;
	width:100%;
}

.contactImg{
	margin:5px;
	width:25%;
}

.contactInfo{
	font-size:x-small;
	word-break:break-all;
}

.contactSlice{
	background:#3f51b5;
	border:2px solid lightgrey;
	color:white;
	font-size:small;
	overflow-x:hidden;
	position:sticky;
	width:25%;
}

.credits{
	text-align:center;
	width:100%;
}

.currentContactAvatar{
    width:50%;
}

.currentContactAvatar p{
	float:right;
}

.currentContactAvatar img{
	height:55px;
}

#desktopColBar{
	background:white;
	float:left;
	height:100vh;
}
#desktopColView{
	background:lightgrey;
	display:block;
	height:100vh;
	width:100%;
}

#gitLink{
	bottom:0px;
	padding:0.8vw;
	position:fixed;
}

#logo{
	height: 96%;
	padding-left:1vw;
	padding-top:1vh;
}

.loginButtons{
	animation-name:pulsex;
	animation-direction:alternate;
	animation-duration:1s;
    animation-iteration-count: infinite;	
    animation-delay:0.1s;
    animation-timing-function:linear;
	background:lightslategrey;
	border:0.4em solid grey;
	border-radius:0.5em;
	left:50%;
	position:absolute;
	top:40%;
	z-index:99;
}

@media only screen and (max-width: 600px) {
  .loginButtons {
    left: 33%;
    top: 33%;
  }
}

#newMessageForm{
	width:100%
}

.msgContact{
	display:flow-root;
}

.msgContact p{
	background:whitesmoke;
	border:1px solid grey;
	border-radius:1em;
	border-bottom-left-radius:0em;
	color:black;
	float:left;
	margin-left:0.9em;
	margin-right:0.8em;
	margin-top:0.8em;
	margin-bottom:0.8em;
	padding:1% 3%;
	word-break:break-all;
}

.msgSelf{
	display:flow-root;
}

.msgSelf p{
	background-color:powderblue;
	border:1px solid white;
	border-radius:1em;
	border-bottom-right-radius:0em;
	color:black;
	float:right;
	margin:0.8em;
	padding:1% 3%;
	word-break:break-all;
}


#progressBar{
	position:absolute;
	top:0px;
	width:100vw;
	z-index:99;
}

#protectButton{
	float:right;
}

.qrCapture{
	left:25vw;
	height:33vh;
	position:absolute;
	top:15vh;
	width:50vw;
}

.recentContacts{
	width:100px;
}

.recentContacts img{
	height:auto;
	width:100%;
}

.restoreWalletCard #titleButton{
	display:block;
	margin:auto;
	text-align:center !important;
}

#secureButtons{
	width:100%;
}

#secureMessageForm{
	width:100%
}

.secureWalletCard #titleButton{
	display:block;
	margin:auto;
}

.settingsCard{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:3%;
	width:80%;
}

#settingsAccount{
	display:block;
	text-align:center;
}

.settingsContent p{
	text-align:center;
}

.settingsPanel{
	display:block;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto-scroll;
	word-break:break-all;
}

#topBar{
	background:black;
	color:white;
	display:flex;
	height:8vh;
	width:100%;
	word-break:break-all;
}

.wizardCard{
	position:absolute;
	top:10vh;
	left:30vw;
	z-index:999;
}

.wizardCard .MuiCardActions-root{
	display:block;
}

.wizardCard .MuiTypography-body1{
	text-align:center;
}

.wizardCard .wizardContent img{
	background:black;
	display:block;
	height:100%;
	margin:auto;
	width:auto;
}

.wizardCard h4{
	text-align:center;
}

#wizardImgDiv{
	background:black;
	height:40vh;
	width:50vw;
}

#wizardForward{
	float:right;
}

.userInput{
	display:flex;
	margin:auto;
	width:95%;
}
/*end desktop*/

/*extras*/
#extras{
	display:none;
	margin-top:2em;
	padding-left:2em;
}

#logRow{
	display:block;
	height:10vh;
	margin:1em;
	z-index:9999999;
}

#logs{
	display:block;
	border:1px solid grey;
	font-size:large;
	height:10vh;
	width:100%;
}
/*extras*/

/*Qr*/
#qrView{
    height: auto;
    left: 26vw;
	position: absolute;
    top: 3vh;
    width: 50vw;
}
/*Qr*/

/*Stage*/
#background{
    background-repeat: no-repeat;
    background:white;
    margin: auto;
    position:absolute;
    width: 100vw;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.characterSelect{
	background-image: url(/images/characterSelect.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.characterSelectRow{
	display:flex;
	left:25vw;
    margin-left: 4.5em;
    margin-right: 1em;
    position: relative;
    top: 17vh;
    width: 38vw;
	overflow-x:scroll;
}

.characterSelectRow div img{
	border:1px solid black;
	height:8vh;
	width:7vh;
}

.characterSelectRow div img:hover{
	border:2px solid #1d74a7;
	cursor:pointer;
	height:8.5vh;
	width:7vh;
}

.characterBoutCard{
	display:table;
	height:100vh;
	margin-left: 29vw;
    margin-top: 13vh;
}

#player1Portrait{
	height:38vh;
	width:17vw;
}

#player2Portrait{
	height:38vh;
	width:17vw;
	transform:rotateY(180deg);
}

.contractView{
	background:black !important;
	display:block;
	font-size:large;
	height:50vh;
	margin:auto;
	padding:1vw;	
	width:100%;
}

#contractViewHolder{
	left:33vw;
	position:absolute;
	width:33%;
	z-index:25;
}

.contractView .contractInfo{
	height:100%;
	overflow-y:scroll;

}

.contractView progress{
	width:100%;
}

#gameHolder{
	opacity:0;
	z-index:-1;
	transition:opacity 1s;
}

#gameTimer{
	height:2vh;
	font-size:medium;
}

.gameTimers{
	height:1.2vh;
    width: 100%;
}

/*
#gameIframe{
    background-image: url("/images/grid1.jpg");
    background-size: cover;
    background-position: bottom;
}
*/

#homeButton{position:sticky}

iframe{
	border:0em solid black;
	border-width:none;
	display:block;
	margin:auto;
	width:100vw;
	height:100vh;
}

.mainMenu{
	background-image: url(/images/background.gif);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

#moveTimeout{
	display:block;
	margin:auto;
	width:20%;
}

#playerOptions{
    position: absolute;
    top:90vh;
    width:100%;
}

#playerOptions button{
	color:#221ec7;
	font-size:x-large;
}

#playerOptions div{
	display:flex;
	margin:auto;
}

#playerOptions div .btn-group{
	background:yellow;
	border:0px solid white;
	border-radius:5em;
}

#player1Stats b{
	color:wheat;
	font-size:large;
}

#player1Stats{
	left:33%;
	overflow:hidden;
	padding:0.2em;
	position:fixed;
	top:6%;
	width:40%;
}

.stageHolder{
	background-image: url(/images/grid1.jpg);
	background-size:cover;
    height:100vh;
	width:100%;
	overflow:hidden;
}

#title{
	display:flex;
}

.classicButton1{
  background: radial-gradient(circle,#dd71f5 50%, #dd71f5 100%);
  border:3px solid black !important;
  left:32vw;
  position:relative;
  top:22vh;
}

.classicButton2{
  background: radial-gradient(circle,#271f98 10%, #7269ef 100%);
  border:3px solid black !important;
  left:32vw;
  position:relative;
  top:22vh;
}

.classicButton3{
  background: radial-gradient(circle,#dd71f5 10%,#dd71f5 100%);
  border:0px solid black !important;
  font-size:2.2vh !important;
}

.classicButton4{
  left:32vw;
  position:relative;
  top:22vh;
}

.classicButton5{
  background: radial-gradient(circle,#dd71f5 50%, #dd71f5 100%);
}

.classicDiv1{
  left:32vw;
  position:relative;
  top:22vh;
  width:30vw !important;
}

.classicDiv1 #wagerInputButton:hover{
  cursor:default;
  border:0px solid black !important;
}

#kohOption{
	color:lightblue;
}

.largeEmoji{
	font-size:xx-large;
}

.shine{
	width:100%; /*Make sure the animation is over the whole element*/
    -webkit-animation-name: ShineAnimation;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.1,.80,.98,.47);
}


#wagerAmount{
	display: inline-block;
    margin: auto;
    height:3vh;
    width:6vw;
}

#wagerButton{
	animation-name:pulse2;
	animation-direction:alternate;
	animation-duration:0.8s;
    animation-iteration-count: infinite;	
    animation-delay:0.1s;
    animation-timing-function:linear;
    width:100vw;
}

.wagerDiv{
	border: 1px solid white;
	display:flex;
	width:100%;
}

#wagerButtons{
	display:flex;
	margin:auto;
	width:25vw;
}

#wagerCollect{
	background: linear-gradient(45deg,lightgreen 0%, lightgreen 60%, forestgreen 100%);
	width:30vw;
}

#wagerTrash{
	background: linear-gradient(45deg,brown 0%, sandybrown 60%, rosybrown 100%);
	width:30vw;
}

.wagerDisclaimer{
	background:black;
	border:0.1em solid red;
	color:white;
	font-size:normal;
	overflow:hidden;
}

.wagerDisclaimer button{
	width:100%;
}

#wagerOption{
	color:gold;
}

#wagerStats{
	background: linear-gradient(45deg,white 0%, lightblue 40%, grey 100%);
	width:30vw;
}

.pressStart{
	width:30vw;
	margin:0.5vw;
}

.pressStart button:hover{
  border:3px solid blue !important;
}

#vs{
	margin:3vw;
	margin-left: 1vw;
	width:3vw;
}

/*End Stage*/

::-webkit-scrollbar {
    width: 5px!important;
    height: 3px!important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}

@keyframes pulse {
  from {background: radial-gradient(circle,red 0%, purple 60%, black 100%);}
  to {background: radial-gradient(circle,#746d80 0%, purple 40%, black 100%);}
}

@keyframes pulse2 {
  from {background: red;}
  to {background: black;}
}

@keyframes pulsex {
  from {	border:0.5em solid purple;background:black;}
  to {	border:0.5em solid red;background:red;}
}

/* https://patrickdesjardins.com/blog/css3-shining-animation-for-html-element */
@keyframes ShineAnimation{
    from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 45%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-250px -250px;
        background-size: 600px 600px
    }
    to {
        background-repeat:no-repeat;
        background-position:250px 250px;
    }
}
